body {
  font-family: 'Roboto', sans-serif;
  padding: 48px;
}

.icon {
  display: block;
  margin: 0 auto;
  height: 96px;
}

.heading {
  text-align: center;
}

.search-form {
  width: 208px;
  margin: 24px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input {
  border-radius: 4px;
  border: 1px solid #6c757d;
  padding: 8px;
  width: 128;
  font-size: 14px;
}

.submit {
  padding: 8px;
  border-radius: 4px;
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #ffffff;
  opacity: 0.9;
  font-size: 14px;
}

.submit:hover,
.submit:active {
  cursor: pointer;
  opacity: 1;
}

.result {
  text-align: center;
  display: block;
}
